.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    height: 90vh;
}

.container box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border: 1px solid black;
}

#color-btn{
    padding: 15px 30px;
    margin-left: 20px;
    background-color: rgb(206, 72, 72);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

#color-btn:hover{
    background-color: rgb(163, 0, 0);
}