body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
} 

#apple-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}