body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: 100%;
}

.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.btn{
    background-color: rgb(125, 0, 0);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
}

.btn:hover{
    background-color: rgb(204, 0, 0);
    border: 3px solid rgb(130, 207, 255);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}